/* Colors */
$primary-color: #2574A9 !default;
$primary-color-dark: #0A3055 !default;
$secondary-color: #D43900 !default;
$secondary-color-dark: #802200 !default;

$white-color: #fefefe !default;
$black-color: #0a0a0a !default;

$gray-color-1: #f3f3f3 !default;
$gray-color-2: #eeeeee !default;
$gray-color-3: #dddddd !default;
$gray-color-4: #cccccc !default;
$gray-color-5: #aaaaaa !default;
$gray-color-6: #666666 !default;
$gray-color-7: #444444 !default;
$gray-color-8: #333333 !default;
$gray-color-9: #252831 !default;
