#restaurants-list {
  display: flex;
  background-color: $gray-color-1;
  list-style: outside none none;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  flex-wrap: wrap;

  li {
    background-color: $white-color;
    border: 2px solid $gray-color-4;
    font-family: Arial,sans-serif;
    min-height: 380px;
    text-align: left;
    padding: 1.25rem;
    flex: 1 0 auto;
    max-width: calc(100% - 0.5rem);
    margin: 0.25rem;

    @media screen and (min-width: 640px) {
      max-width: calc(50% - 1rem);
      margin: 0.5rem;
    }

    @media screen and (min-width: 1024px) {
      max-width: calc(33.33333% - 1rem);
      margin: 0.5rem;
    }

    @media screen and (min-width: 1200px) {
      max-width: calc(25% - 1rem);
      margin: 0.5rem;
    }

    @media screen and (min-width: 1440px) {
      max-width: calc(20% - 1rem);
      margin: 0.5rem;
    }
  }

  .restaurant-img {
    background-color: $gray-color-4;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
  }

  li {
    h3 {
      color: $secondary-color-dark;
      font-family: Arial,sans-serif;
      font-size: 1.167rem;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 20px 0 10px;
      text-transform: uppercase;
    }

    a {
      background-color: $secondary-color;
      border-bottom: 3px solid $gray-color-2;
      color: $white-color;
      display: inline-block;
      font-size: 0.83rem;
      margin: 15px 0 0;
      padding: 8px 30px 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  p {
    margin: 0;
    font-size: 0.917rem;
  }
}
